.container {
    display: grid;
    height: 100vw;
    /*border: 10px solid yellow;*/
    grid-template-rows: 100px 1fr 50px;
    grid-template-columns: 600px 1fr;
    grid-gap: 5px;
    font-size: 24px;
    grid-template-areas:
            "top top"
            "ct sb"
            "ft ft";
}

.box {
    /*border: 1px solid red;*/
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border: 1px solid orange;*/
    grid-area: top;
}

#content {
    /*border: 1px solid orange;*/
    grid-area: ct;
    align-items: center;
    padding: 10px;

}

#sidebar {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    /*border: 1px solid orange;*/
    grid-area: sb;
    padding: 10px;

}

#img {
    width: 100px;
    height: auto;
}

#sidebar-links {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    line-height: 1.2em;
    margin: 20px;
}

#footer {
    grid-area: ft;
}

.cool-border {
    border: 1px solid #dddddd;
    border-collapse: separate;
    *border-collapse: collapsed;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.author-info{
    list-style-type: none;
    background: #dddddd;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}