@import "extras.css";
@import "cards.css";
@import "rows.css";

.container {
    display: grid;
    height: 100vw;
    /*border: 2px solid yellow;*/
    grid-template-rows: 100px 1fr 50px;
    grid-gap: 10px;
    font-size: 24px;
}

.box {
    /*border: 1px solid red;*/
    justify-content: center;
}

#search_icon {
    align-items: end;
}

.content-box {
    display: grid;
    /*border: 2px solid blue;*/
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    grid-template-areas:
            "tl tr"
            "ml mr"
            "bl br";
}

@media (min-width: 1200px) {
    .content-box {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 15px;
        grid-template-areas: "tl tr ml mr bl br";
    }
}