.container {
    display: grid;
    height: 100vw;
    border: 2px solid yellow;
    grid-template-rows: 100px 1fr 50px;
    grid-gap: 5px;
    font-size: 24px;
    /*justify-content: center;*/
    /*align-content: end;*/
    /*margin: auto;*/
}

/**/
.box {
    border: 1px solid red;
    justify-content: center;
    /*align-items: center;*/
}

#header-row {
    display: flex;
    align-items: center;
    grid-area: 1/1/1/1;
}

#content-row {
    grid-area: 2/1/2/1;
}

#footer-row {
    grid-area: 3/1/3/1;
}


.content-box {
    display: grid;
    border: 2px solid blue;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    grid-template-areas:
            "tl tr"
            "ml mr"
            "bl br";
}

.card {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    border: 1px solid orange;
    /*margin: 20px;*/
    /*align-items: center;*/
    /*justify-content: center;*/
}

.card-category {
    border: 1px solid orange;

}

.card-title {
    border: 1px solid orange;
}

.card-date {
    border: 1px solid orange;
}

.card-link {
    border: 1px solid orange;
}

.card {
    border: 1px solid orange;
}

#card-1 {
    grid-area: tl;
}

#card-2 {
    grid-area: tr;
}

#card-3 {
    grid-area: ml;
}

#card-4 {
    grid-area: mr;
}

#card-5 {
    grid-area: bl;
}

#card-6 {
    grid-area: br;
}